input[type='submit']{
    margin-top:5px;
}

.first{
    width: 75%;
}

.second{
    width: 25%;
}

.first_form {
    margin: 5px;
    width: 200px;
    display: flex;
    flex-direction: column;
}